= provide(:title, "PyDash")
%div{style: 'margin-bottom: 20px;'}
  - if @info.present?
    Please paste this code into the auth code input box: #{@info}
  - else
    = link_to "Get Auth Code", dashboard_out_path, class: 'btn btn-twitch'

= link_to "Download", "https://github.com/batedurgonnadie/pydash/releases", class: "btn btn-primary"
%p
%p Use the above button to go to the download page for PyDash, and select the newest release.
%p If you would like to run it off of the source, just clone the repo once there.
