= provide(:title, "Contact")
Join the IRC channel located in the footer and nickflash someone in the channel.
If you have a Github and would instead like to make an issue go with that.
Or you can message
%a{href: "http://twitch.tv/message/compose?to=bomb_mask", target: "_blank"} bomb_mask
if you need help.
