<%= provide(:title, "Contact") %>
Put a contact form here or something.
There may or may not be ways to contact me located at the <a href="https://github.com/batedurgonnadie/salty_bot#readme">readme.</a>
