= provide(:title, "Contact")
.h4#contact_info
  In order of chances of getting help quickly
  %ul
    %li
      Whisper batedurgonnadie on twitch.
    %li
      Join the #saltybot on freendoe IRC network
    %li
      Open an issue on the Github repo (located below)
    %li
      Send me an
      %a{href: "mailto:support@leagueofnewbs.com"} email
      and I will get back to you as soon as I can
  Please make sure you mention what the problem is,
  what your twitch name is, and the time that the errors occured at (makes it easier to find the logs).
