= provide(:title, "Contact")
.h4#contact_info
  In order of chances of getting help quickly
  %ul
    %li
      Join the IRC channel
    %li
      Open an issue on a Github repo
    %li
      Message
      %a{href: "http://twitch.tv/message/compose?to=bomb_mask", target: "_blank"} bomb_mask
    %li
      Send me an
      %a{href: "mailto:batedurgonnadie@yahoo.com", target: "_blank"} email
  Please make sure you mention what the problem is,
  what your twitch name is, and the time that the errors occured at (makes it easier to find the logs).
