<%= provide(:title, "FAQ") %>
<h4>Who makes SaltyBot?</h4>
The inital idea was by me, and <a href="http://twitch.tv/bomb_mask" target="_blank">BombMask</a> joined on shortly after when I was
trying to get help because I had no idea what I was doing.  He has rewritten
the entire bot probably 3 times at this point, which is why it can be run on
a server and be in multiple channels.
<br><br>
<h4>Why doesn't X work?</h4>
I probably broke it when updating something, and am currently waiting for bomb
to help me fix it.
<br><br>
<h4>Why do we need your email?</h4>
Short answer: If you have to ask that question then you don't want to use the internet.
Long Answer: Email is the least amount of info that we can request from twitch to verify your account.
<br><br>
<h4>Why does this website exist?</h4>
I wanted a way to change settings w/o using chat, but implementing it has been
more difficult and time consuming than initially thought.  I will be finished
Soon(tm).
<br><br>
<h4>What's with the weird URL though ._.</h4>
I like it and think it's nice, get over it you nerd .-.
<br><br>
<h4>How can I get support?</h4>
Join #salty_bot on the freenode network on IRC.  Bomb and I both lurk there and can fix/answer anything.
<br><br>
More questions as I think of them or people ask ¯\_(ツ)_/¯
