<%= provide(:title, "FAQ") %>
<h4>Who makes SaltyBot?</h4>
The inital idea was by me, and <a href="http://twitch.tv/bomb_mask" target="_blank">BombMask</a> joined on shortly after when I was
trying to get help because I had no idea what I was doing.  He has rewritten
the entire bot probably 3 times at this point, which is why it can be run on
a server and be in multiple channels.
<br><br>
<h4>Why doesn't X work?</h4>
I probably broke it when updating something, and am currently waiting for bomb
to help me fix it.
<br><br>
<h4>Why do we need your email?</h4>
Short answer: If you have to ask that question then you don't want to use the internet.
Long Answer: Email is the least amount of info that we can request from twitch to verify your account.
<br><br>
<h4>How do I get a custom name for the bot?</h4>
First of all you need to own the account that you want the name of.  Then you will need to generate
and oauth token for the bot account <a href="http://www.twitchapps.com/tmi/" target="_blank">here</a>.
Once you have that insert the bot's username and oauth into the settings page.  If there is any
problems with it then the corresponding error messages will be displayed.  Once you have set the custom
name and the oauth checks out, you will not need to enter the oauth anymore even though the field is blank.
<h4>Why does this website exist?</h4>
I wanted a way to change settings w/o using chat, but implementing it has been
more difficult and time consuming than initially thought.  I will be finished
Soon(tm).
<br><br>
<h4>What's with the weird URL though ._.</h4>
I like it and think it's nice, get over it you nerd .-.
<br><br>
<h4>How can I get support?</h4>
Join #saltybot on the freenode network on IRC.  Bomb and I both lurk there and can fix/answer anything.
<br><br>
More questions as I think of them or people ask ¯\_(ツ)_/¯
