= provide(:title, "FAQ ¯\\_(ツ)_/¯")
.question
  %h4 Why do we need your email?
  It's easiest to confirm with Twitch using the endpoint that gives the email.

.question
  %h4 How do I get a custom name for the bot?
  First of all you need to own the account that you want the name of.  Then you will need to generate
  and oauth token for the bot account
  %a{href: "http://www.twitchapps.com/tmi/", target: "_blank"} here.
  Once you have that insert the bot's username and oauth into the settings page.  If there is any
  problems with it then the corresponding error messages will be displayed.  Once you have set the custom
  name and the oauth checks out, you will not need to enter the oauth anymore even though the field is blank.

.question
  %h4 Why doesn't X work?
  Most likely because I don't know that it isn't working correctly.  I don't have a way
  to test most things by myself extensively.  Join the Discord channel and let me know what's
  up if anything behaves incorrectly.

.question
  %h4 Why doesn't !song work?
  Technically it does, and I can help you set it up if you really want to use it.  The problem
  is I haven't found a good program to POST data to any website for osu, but if you want to use
  it for just general purpose songs and you have a program that can do it I won't stop you.

.question
  %h4 What's with the weird URL ._.
  I like it and think it's nice, get over it you nerd .-.

