= provide(:title, "500 Internal Server Error")
%h1 500 Internal Server Error
%h2
  If the problem persists message
  %a{href: "http://twitch.tv/message/compose?to=bomb_mask", target: "_blank"} bomb_mask
  with details about what you were doing and the time that you were doing it.
= image_tag("cirno-500.png", class: "img-responsive", style: "display: block; margin-left: auto; margin-right: auto;")
