= provide(:title, "404 Not Found")
%h1 404 Not Found
%h2
  URL's shouldn't change, but every now and then they might.<br>
  Try navigating to the resource you need through the menus to find the new url.
