= provide(:title, "422 Unprocessable Entity (Rejected Change)")
%h1 422 Unprocessable Entity
%h2
  The change you tried to make was rejected.  If you are sure you have access to the resource you tried to change try again,
  and if the problem persists follow one of the contact methods located below and let me know.
