%footer.footer
  %div{style: "text-align: center;"}
    %a{href: "https://www.github.com/batedurgonnadie/salty_bot", target: "_blank"} Bot Repo
    |
    %a{href: "https://www.github.com/batedurgonnadie/salty_web", target: "_blank"} Web Repo
    |
    %a{href: "https://webchat.freenode.net/?channels=#saltybot", target: "_blank"} IRC Channel
