<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "League of Newbs", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        <li><%= link_to "Salty Bot", salty_path %></li>
      </ul>
    </nav>
  </div>
</header>
